body {
    margin: 2.5%;
}

.fondo {
    background-color: rgb(252, 252, 252);
}

table {
    margin: 1.5%;
}

img.foto_perfil {
    width: 60%;
    border-radius: 100%;
    border: solid;
}

div.foto_perfil {
    text-align: center;
}

.titulo {
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.subtitulo {
    display: inline-block;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.texto {
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}


.descripcion {
    display: inline-block;
    align-items: center;
    text-align: center;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.stack {
    display: inline-block;
}

.info {
    text-align: center;
}

.texto {
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.desc {
    text-decoration: none;
    color: black;
}

.containerP {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 10px;
}

.seccion {
    padding: 25px;
}

img.logos {
    width: 7%;
}